@import 'https://fonts.googleapis.com/css?family=Montserrat';

html {
  height: 100vh;
  width: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
}

.top-nav-bar {
  padding: 0 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5CA7D8;
}

.top-nav-bar h1 {
  letter-spacing: 1px;
}

.top-nav-bar-perfect-heading-text,
.sign-in-page-perfect-heading-text {
  color: white;
}

.top-nav-bar-sign-out-link {
  letter-spacing: 0.5px;
}

.top-nav-bar-sign-out-link:hover {
  color: white;
  cursor: pointer
  transition: all 0.3s ease 0s;
}

.home-page-wrapper {
  height: 84vh;
  width: 100%;
  padding: 0 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://hd.unsplash.com/photo-1471523835123-1172efe5eaa1');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.home-page-content-wrapper h2{
  color: white;
  font-size: 36px;
  letter-spacing: 2.5px;
  text-shadow: 2px 2px 2px black;
}

.home-page-get-started-button {
  width: 12em;
  height: 3em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #D72B2F;
  color: white;
  font-size: 24px;
  /*text-shadow: 2px 2px 2px black;*/
  text-align: center;
  box-shadow: 2px 5px 1px #999;
}

.home-page-get-started-button:hover {
  cursor: pointer;
  background-color: #ff0000;
}

.home-page-get-started-button:active {
  transform: translateY( 4px );
  box-shadow: 0 1px #666;
}

@keyframes shift {

}

.sign-in-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-in-page-form-heading {
  margin-top: 0;
  letter-spacing: 1px;
}

.sign-in-page-form-wrapper {
  height: 30em;
  width: 28em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #4B9ED4;
}

.sign-in-page-email-input,
.sign-in-page-password-input {
  height: 3em;
  width: 27.8em;
  margin-bottom: 2em;
  font-family: 'Montserrat', sans-serif;
}

.sign-in-page-form-sign-in-button {
  margin-top: 2em;
  padding: 0.5em;
  border: 1.5px solid white;
  color: white;
  font-size: 1.2em;
  letter-spacing: 1.5px;
}

.sign-in-page-form-sign-in-button:hover {
  cursor: pointer;
  background-color: #6bb6e7;
  transition: all 0.2s ease 0s;
}

.sign-in-page-form-sign-in-button:active {
  background-color: #277eb6;
}

.sign-out-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-out-page h2 {
  letter-spacing: 1px;
}

.cp-all-results-wrapper {
  height: 72vh;
  padding: 0 5em;
  overflow: scroll;
}

.cp-all-results-filter-nav {
  height: 6em;
}

.cp-all-results-header {
  text-align: center;
}

.cp-all-results-search-form {
  height: 2.7em;
  width: 20em;
  margin: 0 auto;
  text-align: center;
}

.cp-all-results-search {
  width: 20em;
  height: 2em;
  font-size: 0.8em;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

.cp-result-display-bar-wrapper {
  padding-right: 2em;
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
  position: relative;
}

.cp-result-plus-text-wrapper {
  height: 2em;
  width: 2em;
  position: absolute;
  top: 0;
  left: 0;
}

.cp-result-plus-text:hover {
  color: #FFA22C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cp-result-plus-text {
  font-size: 2em;
}

.cp-result-text-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.cp-result-text-wrapper:hover {
  color: #5CA7D8;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cp-result-dropdown-box-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  overflow: scroll;

  animation-duration: 1s;
  animation-name: slidedown;
}

@keyframes slidedown {
  from {
    height: 0vh;
  }
  to {
    height: 60vh
  }
}

.cp-result-examples-list-wrapper {
  display: inline-block;
  height: 60vh;
  width: 25em;
  overflow: scroll;
}

.cp-result-examples-list-wrapper a {
  text-decoration: none;
  font-size: 0.9em;
}

.cp-result-examples-list-filter {
  height: 2em;
  margin: 0.5em 0 0.5em 0;
  width: 98%;
  font-family: 'Montserrat', sans-serif;
}

.cp-result-examples-list-filter:focus {
  outline: none;
}

.cp-result-example-wrapper {
  padding: 0.5em;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
}

.cp-result-example-wrapper:hover {
  background-color: #ececec;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.cp-result-example-plus-wrapper {
  height: 1.5em;
  width: 1.5em;
}

.cp-result-example-plus-text {
  font-size: 1.5em;
  color: lightgrey;
}

.cp-result-example-plus-text:hover {
  color: #FFA22C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cp-result-example-song-info {
  margin-left: 0.3em;
  font-size: 0.9em;
  overflow: scroll;
}

.cp-result-example-song-info-artist,
.cp-result-example-song-info-song,
.cp-result-example-song-info-section {
  margin: 0;
  padding: 0;
}

.cp-result-example-song-info-song {
  color: #5CA7D8;
}

.cp-result-example-song-info-section {
  color: rgb(68,68,68);
}

.hooktheory-website-wrapper, iframe {
  height: 60vh;
  width: 100%;
}

.save-song-structure-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.song-builder-master-wrapper-heading {
  text-align: center;
}

.song-builder-master-wrapper {
  padding: 0 5em;
  overflow: scroll;
}

.song-builder-drag-and-drop-wrapper {
  /*display: flex;
  justify-content: space-around;*/
  width: 100%;
}

.song-builder-drag-and-drop-wrapper-row-1,
.song-builder-drag-and-drop-wrapper-row-2 {
  width: 100%;
}

.song-builder-section-wrapper {
  margin: 0;
  padding: 0;
  min-height: 2em;
  /*border: 2px solid gainsboro;*/
  text-align: center;
}

.song-builder-all-favorites-wrapper {
  height: 84.1vh;
  padding: 0 5em;
  overflow: scroll;
}

.song-builder-prog-display-bar-wrapper {
  border-bottom: 2px solid black;
  display: flex;
  align-items: center;
}

.song-builder-prog-delete-text-wrapper {
  height: 2em;
  width: 2em;
}

.song-builder-prog-delete-text {
  font-size: 1.6em;
}

.song-builder-prog-delete-text:hover {
  color: #D72B2F;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.song-builder-prog-text-wrapper {
  display: inline-block;
  margin: 0 auto;
}

.song-builder-prog-text-wrapper:hover {
  color: #5CA7D8;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.song-builder-prog-dropdown-box-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60vh;
  overflow: scroll;
}

.song-builder-prog-examples-list-wrapper {
  display: inline-block;
  height: 60vh;
  width: 25em;
  overflow: scroll;
}

.song-builder-prog-examples-list-wrapper a {
  text-decoration: none;
  font-size: 0.9em;
}

.song-builder-prog-example-wrapper {
  padding: 0.5em;
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  align-items: center;
}

.song-builder-prog-example-wrapper:hover {
  background-color: #ececec;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.song-builder-prog-example-plus-wrapper {
  height: 1.5em;
  width: 1.5em;
}

.song-builder-prog-example-plus-text {
  font-size: 1.5em;
  color: lightgrey;
}

.song-builder-prog-example-plus-text:hover {
  color: #FFA22C;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.song-builder-prog-example-song-info {
  width: 100%;
  margin-left: 0.3em;
  font-size: 0.9em;
  overflow: scroll;
}

.song-builder-prog-example-song-info-artist,
.song-builder-prog-example-song-info-song,
.song-builder-prog-example-song-info-section {
  margin: 0;
  padding: 0;
}

.song-builder-prog-example-song-info-song {
  color: #5CA7D8;
}

.song-builder-prog-example-song-info-section {
  color: rgb(68,68,68);
}

.song-builder-example-wrapper {
  padding: 0.5em 0.5em 0.7em 0em;
  border-bottom: 1px solid black;
  width: 100%;
  display: inline-block;
}

.song-builder-example-display-bar-wrapper {
  display: flex;
  align-items: center;
}

.song-builder-example-wrapper:hover {
  background-color: rgb(242, 242, 242);
  cursor: pointer;
  transition: all 0.5s ease 0s;
}

.song-builder-example-delete-wrapper {
  height: 1.5em;
  width: 1.5em;
}

.song-builder-example-delete-text {
  font-size: 1.5em;
  color: lightgrey;
}

.song-builder-example-delete-text:hover {
  color: #D72B2F;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.song-builder-example-song-info {
  width: 100%;
  margin-left: 0.3em;
  font-size: 1em;
  overflow: scroll;
}

.song-builder-example-song-info-artist,
.song-builder-example-song-info-song,
.song-builder-example-song-info-section {
  margin: 0 0 0.2em 0;
  padding: 0;
}

.song-builder-example-song-info-song {
  color: #5CA7D8;
}

.song-builder-example-song-info-section {
  color: rgb(68,68,68);
}

.song-builder-example-hooktheory-website-wrapper {
  width: 100%;
  padding-top: 1em;
  display: block;
}

.song-builder-example-hooktheory-website-wrapper iframe {
  margin: 0 auto;
  width: 100%;
}

.bottom-nav-bar {
  height: 4em;
  margin-top: 0.5em;
  padding-top: 1.5em;
  display: flex;
  justify-content: space-around;
  /*background-color: #FFA22C;*/
}

.bottom-nav-bar-results-link,
.bottom-nav-bar-my-songs-link,
.bottom-nav-bar-song-builder-link
{
  text-decoration: none;
  letter-spacing: 2px;
  color: #5CA7D8;
}

.bottom-nav-bar p {
  margin: 0;
}

.hooktheory-link, .hooktheory-link:visited  {
  letter-spacing: 2px;
  color: #FFA22C;
  text-decoration: none;
}
