<div class="cp-all-results-view-wrapper">

  <div class="next-chord-finder-progression-display-wrapper">
    <h2 class="next-chord-finder-progression-display">Input your progression and discover the possibilities!</h2>
  </div>

  <div class="next-chord-finder-search-button-wrapper">
    <div
      class="next-chord-finder-discover-button"
      type="submit"
      ng-click="getChordProgressions();
        isChordButtonWrapperActive = false;
        isResultFilterActive = true"
    >
      <span>Discover</span>
    </div>

    <div
      class="next-chord-finder-clear-button"
      ng-click="resetNextChordSearch();
        isChordButtonWrapperActive = true;
        isResultFilterActive = false"
    >
      <span>Clear</span>
    </div>

    <input
      class="next-chord-finder-filter-input"
      ng-model="chordFilterText"
      ng-show="isResultFilterActive"
      placeholder="Filter results"
      type="text"
    >

  </div>

  <div class="next-chord-finder-chord-grid-wrapper">
    <div
      class="next-chord-finder-all-chord-buttons-wrapper animated"
      ng-if="isChordButtonWrapperActive"
    >
      <mode-buttons-wrapper
        mode="mode"
        ng-repeat="mode in modes"
      >
      </mode-buttons-wrapper>

      <!-- <div>
        <div>Inversions</div>
        <div ng-repeat="inversion in inversions">{{ inversion.content }}</div>
      </div>
      <div>
        <div>Applied chords</div>
        <div ng-repeat="applied in appliedChords">{{ applied.content }}</div>
      </div> -->
    </div>

  </div>

  <div
    class="next-chord-finder-all-results-wrapper animated"
    ng-if="!isChordButtonWrapperActive"
  >
    <div
      class="next-chord-finder-probability-button-wrapper"
      ng-init="reverse = false"
      ng-click="reverse = !reverse;
        toggleProbArrow()"
    >
        <span
          class="next-chord-finder-probability-button-probability-text"
        >
          Probability
        </span>
        <div class="next-chord-finder-probability-button-arrow-wrapper">
          <div
            class="next-chord-finder-probability-button-arrow"
            ng-class="probArrowAnimate"
          >
             ▲
          </div>
        </div>
    </div>
    <cp-result
      class="cp-result-master-wrapper animated"
      ng-repeat="chordProg in chordProgressions | filter: chordFilterText | orderBy: probability: reverse"
      chord-prog="chordProg"
      type="next-chord-finder"
    >
    </cp-result>
  </div>

</div>
