<top-nav-bar
  firebase-user="firebaseUser"
  type="general"
>
</top-nav-bar>

<main class="cp-all-results-wrapper">

  <p>Can't figure out the next chord for your song? Input your current progression and discover the possibilities!</p>

  <div class="next-chord-finder-progression-display-wrapper">
    <p class="next-chord-finder-progression-display-heading">Your current progression:<span>  </span></p>
    <h2 class="next-chord-finder-progression-display"></h2>
  </div>

  <div class="next-chord-finder-search-button-wrapper">
    <button
      type="submit"
      ng-click="getChordProgressions();
        isChordButtonWrapperActive = false;
        isClearButtonActive = true"
      ng-hide="isClearButtonActive"
    >
      Discover
    </button>

    <button
      ng-click="resetNextChordSearch();
        isChordButtonWrapperActive = true;
        isClearButtonActive = false"
      ng-show="isClearButtonActive"
    >
      Clear
    </button>
  </div>

  <div class="next-chord-finder-legend-results-wrapper">
    <cp-result
      class="cp-result-master-wrapper"
      ng-repeat="chordProg in chordProgressions"
      chord-prog="chordProg"
      type="next-chord-finder"
    >
    </cp-result>

    <div
      class="next-chord-finder-all-chord-buttons-wrapper"
      ng-if="isChordButtonWrapperActive"
    >
      <mode-buttons-wrapper
        mode="mode"
        ng-repeat="mode in modes"
      >
      </mode-buttons-wrapper>

      <!-- <div>
        <div>Inversions</div>
        <div ng-repeat="inversion in inversions">{{ inversion.content }}</div>
      </div>
      <div>
        <div>Applied chords</div>
        <div ng-repeat="applied in appliedChords">{{ applied.content }}</div>
      </div> -->
    </div>

  </div>

</main>

<bottom-nav-bar type="general"></bottom-nav-bar>
