<!-- <section class="song-builder-master-wrapper">

  <h1 class="song-builder-master-wrapper-heading">SONG BUILDER</h1>

  <div class="song-builder-drag-and-drop-wrapper">
      <h4 class="song-builder-verse-heading">Verse</h4>
      <div
        class="song-builder-section-wrapper"
        dragula=" 'bag-one' "
      >
      </div>

      <h4 class="song-builder-prechorus-heading">Prechorus</h4>
      <div
        class="song-builder-section-wrapper"
        dragula=" 'bag-one' "
      >
      </div>

    </div>

      <h4 class="song-builder-chorus-heading">Chorus</h4>
      <div
        class="song-builder-section-wrapper"
        dragula=" 'bag-one' "
      >
      </div>

      <h4 class="song-builder-bridge-heading">Bridge</h4>
      <div
        class="song-builder-section-wrapper"
        dragula=" 'bag-one' "
      >
      </div>

    </div>


  </div> -->

  <section class="song-builder-all-favorites-wrapper">

    <div
      class="song-builder-favorite-progs-wrapper"
      dragula=" 'bag-one' "
      dragula-model='prog'
    >

      <h2 class="song-builder-favorite-progs-wrapper-heading">FAVORITE PROGRESSIONS</h2>

      <song-builder-prog
        ng-repeat="prog in progFavorites"
        prog="prog"
      >
      </song-builder-prog>

    </div>

    <div
      class="song-builder-favorite-examples-wrapper"
      dragula=" 'bag-two' "
      dragula-model='prog'
    >

      <h2 class="song-builder-favorite-examples-wrapper-heading">FAVORITE EXAMPLES</h2>

      <song-builder-example
        ng-repeat="example in exampleFavorites"
        example="example"
      >
      </song-builder-example>

      <!-- <div
        class="song-builder-favorite-example"
        ng-repeat="example in exampleFavorites"
      >
        <p class="song-builder-favorite-example-text">{{example.song}}</p>
      </div> -->

    </div>

  </section>


</section>
