<div class="song-builder-notes-view-wrapper">
  <h1>Notes</h1>
  <h2>{{ prog_html }}</h2>

  <textarea
    ng-model="notes"
    class="song-builder-notes-view-notes-input"
  >
  </textarea>

  <div class="song-builder-notes-view-button-wrapper">
    <div
      class="song-builder-notes-view-save-button"
      ng-click="addNotesToProgFavorite()"
    >
      <span>Save</span>
    </div>

    <div
      class="song-builder-notes-view-clear-button"
      ui-sref="song-builder"
    >
      <span>Back</span>
    </div>
  </div>

</div>
