<div
  class="song-builder-prog-master-wrapper"
>
  <div class="song-builder-prog-display-bar-wrapper">
    <div
      class="song-builder-prog-delete-text-wrapper"
      ng-click="removeProgFromFavorites( prog, $event )"
    >
      <span class="song-builder-prog-delete-text">x</span>
    </div>

    <div class="song-builder-prog-text-wrapper">
      <h3
        ng-click="getSongExamples( prog.progression, $event ); toggleDropdownBox()"
      >
        {{ prog.prog_html }}
      </h3>
    </div>

    <div
      class="song-builder-prog-arrow-wrapper"
    >
      <span
        class="song-builder-prog-arrow-text"
        ng-class="arrowAnimate"
        ng-click="getSongExamples( prog.progression, $event )"
      >
        ►
      </span>
    </div>
  </div>

  <div
    class="song-builder-notes-wrapper"
    ui-sref="notes( { prog: prog } )"
  >
    <p class="song-builder-notes-text">
      <span ng-hide="prog.notes">Notes</span>
      <span ng-show="prog.notes">{{ prog.notes }}</span>
    </p>
  </div>

  <div
    class="song-builder-prog-dropdown-box-wrapper"
    ng-show="isDropdownBoxActive"
  >

    <div class="song-builder-prog-examples-list-wrapper">
      <input
        class="cp-result-examples-list-filter"
        ng-model="exampleFilterText"
        placeholder="Filter examples"
        type="text"
      >
      <cp-example
        ng-repeat="example in examples | filter: exampleFilterText"
        example="example"
        type="nested-example"
      >
      </cp-example>

    </div>

    <section class="hooktheory-website-wrapper">
    </section>

  </div>
</div>
